/* * {
  border: 1px red solid;
} */

:root {
  --grey: #5d869c;
  --lightgrey: #a3dfff;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--lightgrey);
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: var(--grey);
  border-bottom: 3px solid rgb(157, 255, 0);
  align-items: center;
  height: 100px;
}

nav {
  padding: 1em;
}

nav ul li {
  padding: 0.2em;
}

h1 {
  padding: 1em;
}

h2 {
  align-self: start;
  padding: 0.5em;
  margin-bottom: 1em;
}

h3 {
  background-color: var(--grey);
  align-self: start;
  position: relative;
  margin-bottom: -65px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
  border: 5px solid var(--grey);
  border-radius: 10px;
  margin: 5px;
}

div {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em 0;
}

p {
  padding: 0.5em;
}
.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
}

.about div {
  flex-direction: column;
}
.about {
}
.profilePicture {
  width: 200px;
  height: 200px;
  margin: 5px;
}

.contact ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding: 5px;
  margin-bottom: 10px;
}

footer {
  display: flex;
  justify-content: center;
}
#aboutHeader {
  margin-bottom: 0;
}

#work1 {
  width: 80%;
}

#works {
  width: 40%;
}

@media (min-width: 720px) {
  .about div {
    flex-direction: row;
  }
}
