* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --grey: #255074;
  --lightgrey: #7c9fb3;
  --blue: rgb(0, 204, 255);
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--lightgrey);
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: var(--grey);
  border-bottom: 5px solid var(--blue);
  align-items: center;
  height: 100px;
  color: var(--blue);
}

nav {
  padding: 1em;
}

nav ul {
  display: flex;
  flex-direction: column;
}

nav ul a {
  padding: 0.2em;
  color: var(--blue);
}

h1 {
  padding: 1em;
}

h2 {
  align-self: start;
  padding: 0.5em;
  margin-bottom: 1em;
  border-right: 5px solid var(--blue);
}

h3 {
  background-color: var(--grey);
  align-self: start;
  position: relative;
  margin-bottom: -65px;
  padding-left: 5px;
  color: var(--blue);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
  border: 5px solid var(--grey);
  border-radius: 10px;
}

div {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em 0;
}

p {
  padding: 0.5em;
}
.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
}

.about div {
  flex-direction: column;
}

.profilePicture {
  width: 200px;
  height: 200px;
  margin: 5px;
}

.contact ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding: 5px;
  margin-bottom: 10px;
}

footer {
  display: flex;
  justify-content: center;
}
#aboutHeader {
  margin-bottom: 0;
}

#work1 {
  width: 80%;
}

#works {
  width: 40%;
}

@media (min-width: 720px) {
  .about div {
    flex-direction: row;
  }
  #desktop {
    flex-direction: row;
  }
  h2 {
    width: 200px;
  }
}
